extends ./templates/home.pug

block head
  title mvtest

block body
  .list-group
    each item in objects
      a(href=item.url).list-group-item.list-group-item-action.flex-column.align-items-start
        .d-flex.w-100.justify-content-between
          h5.mb-1=item.name
        if(item.desc)
          p.mb-1=item.desc
        if(item.small)
          small=item.small