extends ./templates/home.pug

block head
  title mvtest

block body
    h3=task.text
      small.text-muted=' by '+task.users[0].email
    ol
      if task.choices
        each choice in task.choices
          li=choice
